<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Eclectic professional background. Wharton graduate. Author. Consultant. Homeschooler. Human Resources. Corporate Compliance. Founder of a <a href="http://www.faithfromhearing.org>children's media company.</a></p>
                </div>
                <div class="col-lg-4">
                    <p>I'm a lifelong learner currently exercising my love for problem solving as a Software Developer, working primary in JavaScript and React with a sprinkle of Ruby and Rails.</p>
                </div>
            </div>
        </div>
    </section>