<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
    </section>
    test
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- <div class="row">
                    <div class="col-sm-4 portfolio-item">
                            <h2><a href="https://github.com/mandlerm/SpanishBingo/tree/min_game">Spanish Squares</a></h2>
                            <h3 class="caption">Variation on Bingo to teach kids Spanish in a addictively fun way!</h3> 
                            <a href='https://youtu.be/O3sPgbYnhmw'>See it in action</a>
                            <p class="caption-content">Postgres, Rails, React, Redux</p>
                            <ul>
                                <li>Created a Rails API with a PostgreSQL database</li>
                                <li>Utilized React frontend with a Redux store using ES6 where possible</li>
                                <li>Chose CSS Grid for page layout</li>
                            </ul>
                    </div>
                </div>
        </div>
    </section>

    https://github.com/mandlerm/plantpower
    https://youtu.be/Ce4MVb1boaU
    An app that enables used to find Plant Based Recipes 
    Build a Ruby gem that provided a CLI interface
Scraped McDougall recipe site with Nokogiri

    https://github.com/mandlerm/BookTracker
    https://youtu.be/WSHHORh7a9w
    An app that tracks personal book library
    Utilized Ruby on Rails as an API backend, enabling controllers to respond to requests with JSON.
Implemented JQuery and JavaScript on the frontend to consume data from the API endpoints.
Integrated OAuth and Devise for authentication.


    https://github.com/mandlerm/SpanishBingo/tree/min_game

    <div class='row'>
        <h2><a>Link to GitHub Title</a></h2>
        <h3>Summary</h3> <a>See it in action</a>
        <p>Tech Stack</p>
        <p>Explanation</p>
    </div>

    <div>
        <h2><a>Link to GitHub Title</a></h2>
        <h3>Summary</h3> <a>See it in action</a>
        <p>Tech Stack</p>
        <p>Explanation</p>
    </div>

    <div>
        <h2><a>Link to GitHub Title</a></h2>
        <h3>Summary</h3> <a>See it in action</a>
        <p>Tech Stack</p>
        <p>Explanation</p>
    </div>


    <div>
        <h2><a>Link to GitHub Title</a></h2>
        <h3>Summary</h3> <a>See it in action</a>
        <p>Tech Stack</p>
        <p>Explanation</p>
    </div> -->