<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <!-- <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div> -->

            <div class="row">
                    <div class="col-sm-4 portfolio-item">
                            <h2><a>Link to GitHub Title</a></h2>
                            <h3>Summary</h3> <a>See it in action</a>
                            <p>Tech Stack</p>
                            <p>Explanation</p>
                            <a href="#{{ https://github.com/mandlerm/SpanishBingo/tree/min_game }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
        </div>
    </section>

    https://github.com/mandlerm/plantpower
    https://github.com/mandlerm/BookTracker
    https://github.com/mandlerm/SpanishBingo/tree/min_game

    <div class='row'>
        <h2><a>Link to GitHub Title</a></h2>
        <h3>Summary</h3> <a>See it in action</a>
        <p>Tech Stack</p>
        <p>Explanation</p>
    </div>

    <div>
        <h2><a>Link to GitHub Title</a></h2>
        <h3>Summary</h3> <a>See it in action</a>
        <p>Tech Stack</p>
        <p>Explanation</p>
    </div>

    <div>
        <h2><a>Link to GitHub Title</a></h2>
        <h3>Summary</h3> <a>See it in action</a>
        <p>Tech Stack</p>
        <p>Explanation</p>
    </div>


    <div>
        <h2><a>Link to GitHub Title</a></h2>
        <h3>Summary</h3> <a>See it in action</a>
        <p>Tech Stack</p>
        <p>Explanation</p>
    </div>